.coach {
  padding-bottom: 20px;
  .coach-name {
    padding: 20px;
    font-size: 2rem;
    font-weight: 300;
    color: var(--grey800);
  }

  .coach-time-slots {
    .coach-time-slot {
      border-bottom: 1px solid var(--grey200);
      color: var(--grey700);
      padding: 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      &:hover:not(.booked) {
        background: var(--blueLight);
        color: var(--white);
        cursor: pointer;
      }
    }
    .booked {
      color: var(--grey500);
      background: var(--blue);
    }
  }
}
