html {
  color: var(--grey800);
  font-size: 62.5%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  margin: 0;
}

a {
  color: var(--blueLight);
  text-decoration: none;
}
